body {
    margin: 0px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    line-height: 1.75;
}

.header {
    background-color: #2a60c0;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a60c0;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    margin-right: 30px;
}

li a:hover {
    background-color: #2f6dda;
    color: white;
}

.logo {
    width: 200px;
    height: 60px;
    background-position: 5px -5px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main {
    width: 100%;
    height: auto;
}

.introduce {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.section-arrow {
    border-style: solid;
    border-color: #2a60c0 #fff #fff;
    border-width: 30px 50vw 0;
}

.upload {
    display: grid;
    grid-template-columns: 55% 45%;
    min-height: 400px;
    padding-left: 30px;
}

.container {
    margin-right: 10px;
    width: 500px;
    height: 100%;
}
  
.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #bbbbbb;
    margin-top: 15px;

    /*Defaut text*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #aaaaaa;
}

.image-preview__image {
    display: none;
    width: 100%;
}

.result {
    width: 100%;
    height: 100%;
}

.img-result {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.us {
    width: 100%;
    height: 500px;
    background-image: url("bkg-blue.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.member {
    padding-top: 50px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 50px
}

.member-card {
    width: 100%;
    height: 150px;
    background-color: deepskyblue;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
}

.member-img {
    margin-top: 15px;
    margin-left: 20px;
    width: 120px;
    height: 120px;
    float: left;
    background-size: cover;
    background-position: 0px 0px;
    border-radius: 100%;
}

.member-info {
    margin-left: 170px;
    margin-top: 30px;
}

.footer {
    width: 100%;
    height: 200px;

}